
{% extends 'flatpages/default.html' %} 


{% block content %}

<hr>
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<hr>

<form method="get" >

{% if user_status == 0 %}
    <h3>Теперь вы - автор, можете публиковать статьи, а также редактировать и удалить их с портала</h3>
	{%else%}
    <h2>Вы являетесь пользователем портала</h2>
	{% endif %}
</form>


<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
   <input type="submit" value="Стать автором">
</form>

<hr>
<button> <a href="/news">На главную</a></button>
{% endblock %}