
{% extends "main.html" %}


{% load i18n %}
{% load account socialaccount %}
{% load socialaccount %}


{% block content %}
<hr>
<h1>{% trans "Выход с сайта" %}</h1>

<p>{% trans 'Вы действительно хотите выйти?' %}</p>

<form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Выйти' %}</button>
</form>


{% endblock %}
